* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* box-sizing: border-box; */
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.navBar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 65px;
  box-shadow: 1px 1px 5px;
  font-family: Comic Sans MS;
  z-index: 5;
}
.navContentTwo {
  float: right;
  display: flex;
  align-items: center;
  height: 65px;
}
#navBarMenu {
  height: 100%;
  display: none;
  cursor: pointer;
}
#check {
  display: none;
}
#labelCheck {
  height: 100%;
}
#navBarPfp {
  height: 100%;
  padding-right: 25px;
  cursor: pointer;
}
.title {
  margin-left: 65px;
  font-size: 28px;
  cursor: pointer;
  line-height: 65px;
}
.contentList {
  display: flex;
  margin-right: 5px;
  padding-right: 10px;
  float: right;
  position: relative;
  top: -65px;
  z-index: 2;
}
#imgList {
  height: 65px;
}
#list {
  font-size: 20px;
  border-radius: 5px;
  margin: 0 5px;
  padding: 0 20px;
  line-height: 65px;
}
#list:hover {
  cursor: pointer;
  background: none;
  background-color: #eaeaea;
}
#signInBtn {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  padding-right: 28px;
  font-family: Comic Sans MS;
}
#signInBtn:hover {
  background: none;
  background-color: #eaeaea;
  cursor: pointer;
}
#signInImg {
  height: 80%;
  margin-right: 15px;
  margin-left: 15px;
}
#signInHref {
  margin-right: 30px;
  width: 140px;
  height: 80%;
}
#listCat {
  width: 100%;
  display: none;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
}
.firstColumnContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.secondColumnContainer {
  display: flex;
  width: 100vw;
}
.textContainer {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.textContent {
  padding: 25px;
}
.picContainer {
  width: 50%;
}
#catPic {
  border-radius: 205px;
  width: 100%;
}
#title {
  color: darkslategray;
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}
#paragraph {
  font-family: Comic Sans MS;
  text-align: left;
  font-size: 1vw;
  line-height: 35px;
  padding-top: 30px;
  width: 90%;
}
@media (max-width: 1250px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    align-items: center;
  }
  .firstColumnContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    justify-content: center;
  }
  .secondColumnContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .textContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .textContent {
    padding: 25px;
  }
  .picContainer {
    width: 100%;
  }
  #catPic {
    border-radius: 205px;
    width: 100%;
  }
  #title {
    color: darkslategray;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #paragraph {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    padding-top: 30px;
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .contentList {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 66px;
    left: -107%;
    height: 100%;
    width: 102%;
    transition: all 0.5s;
    background-color: #ffffff;
    border-right: 2px solid black;
  }
  .navBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #navBarMenu {
    display: inline-block;
  }
  .title {
    margin-left: 0px;
  }
  #list {
    margin: 0 10px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  #listCat {
    display: block;
    bottom: 0;
  }
  #check:checked ~ .contentList {
    left: 0;
  }
}
